:root {
  --primary-text-color: #757575; 
  --title-color: #212121; 
  --secondary-text-color: #212121;
  --accent-color: #2196f3; 
  --hero-text-color: #fff; 
  --hero-background-color: #2f303a; 
  --footer-white-color: #fff; 
  --backgroud-white-color: #ffffff;
  --address-link-color: rgba(255, 255, 255, 0.6); 
  --logo-black: #000; 
  --footer-background-color: #2f303a; 
  --header-border-color: #ececec; 
  --background-section-color: #f5f4fa;
  --card-border-color: #eee;
  --features-icon-bg: #F5F4FA;
  --icons-color: #afb1b8;
  --footer-social-media-bg: #44454E;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --function-text-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  
  background-color: var(--backgroud-white-color);
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */
.header {
  background-color: var(--background-white-color);
  border-bottom: 1px solid #ececec;
}

.container.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* site nav */
.nav {
  display: flex;
  align-items: center; 
}

.nav .logo {
  margin-right: 90px;
  
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-black);
}

.accent {
  color: var(--accent-color);
}

.site-nav.list {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
 
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts.list {
  display: flex;
}

.contacts .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right,
    var(--gradient-color),
    var(--gradient-color)),
   url("../img/hero.jpg"); 
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  border: none;
  border-radius: 4px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88; 
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);

  background-color: var(--accent-color);
}

.button.main {
  padding: 10px 32px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

/* features */
.features-list {
  display: flex;
}

.features-list .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--features-icon-bg);
  
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../img/antenna.svg" );
}

.icon-clock::before {
  background-image: url("../img/clock.svg");
}

.icon-diagram::before {
  background-image: url("../img/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../img/astronaut.svg");
}

.features-list .item {
  width: 270px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  margin-bottom: 10px;
  
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-description {
  line-height: 1.7;
}

/* Чем мы занимаемся */
.section.function {
  padding-top: 0;
}

.function-list {
  display: inline-flex;
}

.function-list .item:not(:last-child) {
  margin-right: 30px;
}

.function-card-image {
  display: block;
}
.function-card {
  position: relative;
}

.function-card-text{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  color: var(--function-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.section.team {
  background-color: var(--background-section-color);
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  background-color: var(--background-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--backgroud-white-color);
}

.team-member-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-member-proffesion {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

 .social-media-link {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 44px;
  width: 44px;
  border-radius: 50%;

  fill: var(--icons-color);
  background-color: var(--backgroud-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--accent-color);
  fill: #fff;
}
  
/* Clients */
.section.clients {
  padding-top: 83px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.clients-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
  .clients-list .item:not(:last-child) {
    margin-right: 30px;
  }
  
  .clients-list .link:hover,
  .clients-list .link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-main {
  margin-right: 70px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--footer-white-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.address .physical {
  margin-bottom: 9px;
  color: var(--footer-white-color);
  font-style: normal;
  line-height: 1.71;
}

.address .link {
  display: inline-block;

  color: var(--address-link-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1,14;
  text-transform: uppercase;
  color: var(--footer-white-color);
}

.social-media-link.footer-link {
  background-color: var(--footer-social-media-bg);
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.social-media-link.footer-link:hover,
.social-media-link.footer-link:focus {
  background-color: var(--accent-color);}

.subscription-box {
  margin-left: 93px;
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);  
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--footer-background-color);
  outline: none;
}

.subscription-button {
  padding: 10px 29px;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscription-icon {
  margin-left: 10px;
}

/* Портфолио */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.button.filter {
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filter:hover,
.button.filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.project-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px; 
}

.project-list .item:nth-child(3n) {
  margin-right: 0;
}

.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-image {
  display: block;
}

.card-description {
  padding: 20px 24px;
  border-left-color: var(--card-border-color);
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-color: var(--card-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-color: var(--card-border-color);
  border-right-width: 1px;
  border-right-style: solid;  
}

.project-name {
  margin-bottom: 4px;
  
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-desc,
.project-link:focus .project-desc {
  transform: translateY(-100%);
}

.project-detail {
  position: relative;
  overflow: hidden;
}

.project-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1.1);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 12px;
  text-align: center;
}

/* Form */
.form {
  width: 100%;
  height: 100%;
}

.form-field {
  margin-bottom: 10px;
}

.form-label {
  position: relative; 

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  margin-top: 4px;
  width: 448px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  left: 15px;
  top: 50%;

  transform: translateY(33%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.comment-field {
  margin-bottom: 20px;
}

.form-input.comment {
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agreement-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.agreement-icon {
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
  fill: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

.agreement-input:checked ~ .agreement-icon {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  fill: #fff;
}

.agreement-input:focus~.agreement-icon {
  border: 2px solid var(--accent-color);
}

.modal-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.button-send {
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 124px;
  padding: 10px 55px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
 background-color: #188CE8;
 cursor: pointer; 
}
